[Unit]
Description=Phoniebox Idle Watchdog
After=network.target

[Service]
User=%USER%
Group=%USER%
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=%INSTALL_DIR%
ExecStart=%INSTALL_DIR%/scripts/idle-watchdog.sh

[Install]
WantedBy=multi-user.target
