[Unit]
Description=Phoniebox RFID Reader
After=network.target

[Service]
User=%USER%
Group=%USER%
Restart=always
RestartSec=5
WorkingDirectory=%INSTALL_DIR%
ExecStart=%VENV_PATH%/bin/python3 %INSTALL_DIR%/scripts/daemon_rfid_reader.py
Nice=15

[Install]
WantedBy=multi-user.target
