[Unit]
Description=Phoniebox Bluetooth Buttons
After=mpd.service

[Service]
User=%USER%
Group=%USER%
Restart=always
RestartSec=5
WorkingDirectory=%INSTALL_DIR%/components/controls/buttons-bluetooth-headphone
ExecStart=%VENV_PATH%/bin/python3 %INSTALL_DIR%/components/controls/buttons-bluetooth-headphone/bt-buttons.py

[Install]
WantedBy=multi-user.target
