[Unit]
Description=Phoniebox Idle Watchdog Countdown

[Service]
User=%USER%
Group=%USER%
Type=simple
WorkingDirectory=%INSTALL_DIR%
ExecStart=%INSTALL_DIR%/scripts/idle-watchdog-countdown.sh

[Install]
WantedBy=multi-user.target
