[Unit]
Description=Phoniebox GPIO Control
After=network.target

[Service]
Type=simple
User=%USER%
Group=%USER%
WorkingDirectory=%INSTALL_DIR%/components/gpio_control/
ExecStart=%VENV_PATH%/bin/python3 %INSTALL_DIR%/components/gpio_control/gpio_control.py
SyslogIdentifier=PhonieboxGPIOControl
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
