[Unit]
Description=Phoniebox Startup Scripts
After=mpd.service

[Service]
User=%USER%
Group=%USER%
Type=oneshot
RemainAfterExit=true
WorkingDirectory=%INSTALL_DIR%
ExecStart=/bin/bash %INSTALL_DIR%/scripts/startup-scripts.sh

[Install]
WantedBy=multi-user.target
